body {
    padding: 0;
    margin: 0;
    
}
nav .navbar{
    color: white;
    background-color: #2b918a;
    
}

/* home */



nav {
    background-color:#2b918a;
    padding: 0%  3% ;
    color: white;
   




}
#home {

    background-color:#ffffff;



}

.navbar-brand{
    padding-left: 3% ;
}

.navbar-brand #logo {
    
    width: 3.5rem;
    border-radius: 50%;




}

.navbar-nav {
    justify-content: space-between;
    gap: 2rem;

}
.nav-item .nav-link {
    font-family: "montserrat-bolt";
    font-size: 20px;
    color: white;

   


}
#home .slide-show{
    margin-top: 75px;
    

}
#home .slide-show{
    width: 100%;
}













/* discount */
#discount {
    padding: 3% 0;
}

#discount img {
    width: 100%;




}

#advertisment-watch .container-fluid{
    text-align: center;
    background-color:#2b918a ;
   padding-top: 3% ;
      
}#advertisment-watch img {
    width: 90%;
    text-align: center;
    
     margin: 3% 5%;
    border-radius: 30px;
   }


/*advertisment video */

#advertisement.container-fluid{
    background-color:#2b918a;
}
.container-fluid iframe {
    margin: 5% 5%;
    border-radius: 25px;
    width: 90%;
    height: 300px;
    

}

/*product */
#product .row {
    align-items: center;
    padding: 7% 0%;
    margin: 0%;


}


#product img {
    width: 100%;

    

}

/* services  */
#features{
    padding: 1% 4%;
    text-align: center;
    background-color:#c1c9c8;
    
}
#features .row{
    padding: 3% 5%;
    background-color:#c1c9c8;
}




#features  .icon {
    color: #000000;
    margin-bottom: 1rem;

}

#features  .icon:hover {
    color:#2b918a;
}

/* footer */
#footer {
    background-color: rgb(241, 71, 71);
    color: white;
    padding: 5px;
    height: 100%;
}

#contact h1 {
    text-align: center;
}
/* product */
#product .col-lg-3{ 
    transition: box-shadow .3s;
   box-shadow: none;
}
#product .col-lg-3:hover{
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.2); 

}
/*-----------------------------------------------------------------------
/* login */
.form-signin {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    margin: 35px auto;
    background-color: #146356;
    color: white;
    border-radius: 5%;
  }
  /*-----------------------------------------------------------------------*/
  #item{
    padding-top: 100px;
  }
  #item .item{

    transition: box-shadow .3s;
    box-shadow: none;
  }#item .item:hover{
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.2); 
  }



  #item .btn{
    background-color:#2b918a;
    color: #fff;
   width: 6rem;
    font-family: sans-serif;
    transition: 0.5s;
  }
  #item .btn:hover{
    width:6.2rem;
    background-color: #25d8cc;
  }